body{
    font-family: 'Delicious Handrawn', cursive;
    background-color: #9E7676;
    color:#FFF8EA;
    font-size: 1.4rem;
}
#carrusel {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    background-color: #815B5B;
}
#descripcion {
    padding-left: 5%;
    padding-right: 5%;
}
.separar_elemento{
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: center;
}
#productos{
    padding-left: 5%;
    padding-right: 5%;
    color: #594545;
}
.menu{
    margin-bottom: 10px;
}
#footer{
    background-color: #594545;
    color:#FFF8EA;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.ampliar{
    font-size: large;
}
.iconos_footer{
    padding-right: 50px;
}
a{
    color:#FFF8EA;
}
.letra_clara{
    color:#FFF8EA;
    text-align: center;
}
em{
    font-size: 4rem;
    padding-left: 15%;
}
h3{
    text-align: center;
}
.margen{
    padding-bottom: 3%;
    padding-top: 3%;
}
.margen_menu{
    padding-bottom: 3%;
}