body{
    font-family: 'Delicious Handrawn', cursive;
    background-color: #FFD6B6;
}
#carrusel {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}
#descripcion {
    padding-left: 5%;
    padding-right: 5%;
}
.separar_elemento{
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: center;
}
#productos{
    padding-left: 5%;
    padding-right: 5%;
}
.menu{
    margin-bottom: 10px;
}
#footer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.ampliar{
    font-size: large;
}